* {
  font-family: Inter;
  margin: 0;
  padding: 0;
}

body {
  background-color: #282d35;
  color: #fafafa;
}

.app-header {
  background-color: #21222a;
  padding: 32px;
  display: flex;
  align-items: center;
  gap: 16px;
}

.app-header > span {
  font-size: 2rem;
  color: #61dafb;
}

.react-logo {
  width: 55px;
}

/* --- */

main {
  padding: 32px;
  /* background-color: green; */

  display: flex;
  flex-direction: column;
  gap: 8px;
}

ul {
  margin: 0px 16px;
  list-style-position: inside;
}

li {
  margin-block: 16px;
}

li::marker {
  color: #61dafb;
}
